Tercer Trimestre/DWES/Pregunta_3_Ejemplo_Examen_Sergio/servidorSoap/servicio.wsdl

<?xml version="1.0"?>
<!-- sservicio.wsdl proporciona la descripción del servicio web utilizando WSDL. En resumen, este archivo describe cómo un cliente puede acceder a los servicios ofrecidos por el servidor web. -->

<!-- El elemento "definitions" es el elemento raíz del archivo WSDL y define el nombre y el espacio de nombres del servicio. También incluye los elementos "types", "portType" y "binding". -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="Clases.Operaciones" targetNamespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php">
<!-- El elemento "types" define los tipos de datos utilizados en el servicio web. En este caso, utiliza un esquema XML que importa el espacio de nombres "http://schemas.xmlsoap.org/soap/encoding/". -->
  <types>
    <xsd:schema targetNamespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    </xsd:schema>
  </types>
  <!-- El elemento "portType" define la interfaz del servicio web, que incluye los métodos disponibles, sus entradas y salidas, y sus documentos. -->
  <portType name="Clases.OperacionesPort">
  <!-- El elemento "operation" define un método disponible en el servicio web, y se incluyen detalles como su nombre, su documentación y las entradas y salidas esperadas. -->
    <operation name="getPvp">
      <documentation>Obtiene el PVP de un producto a partir de su codigo</documentation>
      <input message="tns:getPvpIn"/>
      <output message="tns:getPvpOut"/>
    </operation>
    <operation name="getStock">
      <documentation>Devuelve el numero de unidades que existen en una tienda de un producto</documentation>
      <input message="tns:getStockIn"/>
      <output message="tns:getStockOut"/>
    </operation>
    <operation name="getFamilias">
      <documentation>Devuelve un array con los codigos de todas las familias</documentation>
      <input message="tns:getFamiliasIn"/>
      <output message="tns:getFamiliasOut"/>
    </operation>
    <operation name="getProductosFamilia">
      <documentation>Devuelve un array con los nombres de los productos de una familia</documentation>
      <input message="tns:getProductosFamiliaIn"/>
      <output message="tns:getProductosFamiliaOut"/>
    </operation>
  </portType>
  <!-- El elemento "binding" especifica cómo se realizará la comunicación entre el cliente y el servidor. Define el protocolo de comunicación (en este caso, HTTP), la codificación de los mensajes SOAP y la dirección del servicio web. -->
  <binding name="Clases.OperacionesBinding" type="tns:Clases.OperacionesPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getPvp">
      <soap:operation soapAction="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php#getPvp"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getStock">
      <soap:operation soapAction="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php#getStock"/>
      <!-- "input" y "output" que definen la estructura de los mensajes SOAP utilizados en la comunicación entre el cliente y el servidor. Estos mensajes incluyen los datos enviados y recibidos por los métodos definidos en el archivo WSDL. -->
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getFamilias">
      <soap:operation soapAction="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php#getFamilias"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
    <operation name="getProductosFamilia">
      <soap:operation soapAction="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php#getProductosFamilia"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
      </output>
    </operation>
  </binding>
  <message name="getPvpIn">
    <part name="codP" type="xsd:int"/>
  </message>
  <message name="getPvpOut">
    <part name="return" type="xsd:float"/>
  </message>
  <message name="getStockIn">
    <part name="codP" type="xsd:int"/>
    <part name="codT" type="xsd:int"/>
  </message>
  <message name="getStockOut">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="getFamiliasIn"/>
  <message name="getFamiliasOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <message name="getProductosFamiliaIn">
    <part name="codF" type="xsd:string"/>
  </message>
  <message name="getProductosFamiliaOut">
    <part name="return" type="soap-enc:Array"/>
  </message>
  <!-- El elemento "service" define el servicio web. Contiene los métodos que se pueden invocar en el servidor. -->
  <service name="Clases.OperacionesService">
    <port name="Clases.OperacionesPort" binding="tns:Clases.OperacionesBinding">
      <soap:address location="http://127.0.0.1/dwes_tema_06/TAREA_06/servidorSoap/servicioW.php"/>
    </port>
  </service>
</definitions>
